.Rproj.user
.Rhistory
.RData
.RDataTmp
src/*.o
src/*.so
.DS_Store
*.pdf
*.Rproj
testcode/*
*.old
*.tar.gz
Signac.Rcheck/*
bldignore/*
docs/*
index.md
vignette_data/*
cran-comments.md
vignettes/*_cache/*
benchmark/*
